{% load myTags %}
<form class="form-horizontal" method="post" onsubmit="select_m2m_items()">{% csrf_token %}
  {{ form_obj.errors }}
{% for field in form_obj %}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
    {% if field.name in configTableClass.filter_horizontal %}
        <div class="col-lg-5">
            <input type="text" class="form-control" oninput="doRemainderFilter(this, 'id_{{ field.name }}_remainder')">
            <select id="id_{{ field.name }}_remainder" multiple class="form-control">
                {% get_remainder field.name form_obj configTableClass.model as m2m_from_items %}
                {% for item in m2m_from_items %}
                <option value="{{ item.id }}" ondblclick="moveMeToOtherSelect(this, 'id_{{ field.name }}_selected')">{{ item }}</option>
                {% endfor %}
            </select>
            <a onclick="moveOptionsFormThisSelectToThatSelect('id_{{ field.name }}_remainder', 'id_{{ field.name }}_selected')">Choose All</a>
        </div>
        <div class="col-lg-5">
            <select selectTag id="id_{{ field.name }}_selected" multiple class="form-control" name="{{ field.name }}">
                {% get_selected field.name form_obj as m2m_to_items %}
                {% for item in m2m_to_items %}
                 <option value="{{ item.id }}" ondblclick="moveMeToOtherSelect(this, 'id_{{ field.name }}_remainder')">{{ item }}</option>
                {% endfor %}
            </select>
            <a onclick="moveOptionsFormThisSelectToThatSelect('id_{{ field.name }}_selected', 'id_{{ field.name }}_remainder')">Remove All</a>
        </div>
    {% else %}
         {{ field }}
    {% endif %}
    </div><span style="color:red">{{ field.errors.0 }}</span>
  </div>
{% endfor %}
{% if configTableClass.need_readonly %}
    {% for field in configTableClass.readonly_fields %}
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">{{ field }}</label>
        <div class="col-sm-10">
         {% get_formObj_field_value form_obj field %}
        </div>
      </div>
    {% endfor %}
{% endif %}

  <div class="form-group">
      <div class="col-sm-offset-11 col-sm-2">
          <button type="submit" class="btn btn-info">Save</button>
      </div>
  </div>
</form>
<script>
    function moveMeToOtherSelect(ele, target_id) {
        var option = "<option value='"+$(ele).val()+"' ondblclick=moveMeToOtherSelect(this,'"+$(ele).parent().attr('id')+"')>"+$(ele)[0].innerHTML+"</option>"
        $("#"+target_id).append($(option))
        $(ele).remove()
    }
    function select_m2m_items() {
        $("select[selectTag] option").prop('selected', true)
    }
    function moveOptionsFormThisSelectToThatSelect(thisContainerId, thatContainerId) {
        $("#"+thisContainerId).children().each(function (index, ele) {
            moveMeToOtherSelect(this, thatContainerId)

        })
    }
    function doRemainderFilter(ele, containerId) {
        //console.log($(ele).val())
        $("#"+containerId).children().each(function () {
            if($(this).text().toUpperCase().match($(ele).val().toUpperCase())){
                $(this).show()
            } else {
                $(this).hide()
            }
        })
    }
</script>