{% extends 'kingAdminIndex.html' %}
{% load myTags %}


{% block rightPart %}
    <form>
        <input type="search" placeholder="{% for search_field in configTableClass.search_fields %}{{ search_field }},{% endfor %}" name="_q" value="{{ configTableClass.searchContent }}">
        {% for k,v in filter_conditions.items %}
            <input type="hidden" name="{{ k }}" value="{{ v }}">
        {% endfor %}
        <input type="submit" value="Search">
    </form>
    {% if configTableClass.list_filter %}
     <form>
        {% for filter_column in configTableClass.list_filter %}
            {% displayFilter filter_column configTableClass filter_conditions %}
        {% endfor %}
            <input type="hidden" name="o" value={% get_order_paramers sorted_column%}>
            <input type="submit" value="过滤">
    </form>
    {% endif %}
    <form method="POST" onsubmit="checkBeforeActions(this)">
    {% csrf_token %}
        <select  name="action">
            <option value="">-----------------------</option>
            {% for action in configTableClass.actions %}
            <option value="{{ action }}">{{ action }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn" value="Go">
    </form>
    <table class="table table-striped">
        <thead>
            <th><input type="checkbox" onclick="allSelectOrNotOperate(this)"></th>
        {% if configTableClass.list_display %}
            {% for item in configTableClass.list_display %}
            <th><a href="?o={% get_order_index item sorted_column forloop.counter0 %}{% render_filtered_paramers configTableClass %}">
                {{ item }}{% render_order_triangle item sorted_column%}</a></th>
            {% endfor %}
        {% else %}
            <th>{% get_modelName configTableClass %}</th>
        {% endif %}
        </thead>
        <tbody>
            {% for row in rows%}
            {% displayTheRow row configTableClass.list_display %}
            {% endfor %}
        </tbody>

    </table>


    <nav aria-label="Page navigation">
      <ul class="pagination">

        {% getPaginators rows configTableClass sorted_column%}

      </ul>
    </nav>
<script>
    function allSelectOrNotOperate(ele) {
        if ($(ele).prop("checked") == true) {
            $("input[tagForSelect]").prop("checked", true)
        } else {
            $("input[tagForSelect]").prop("checked", false)
        }
    }
    function checkBeforeActions(formEle) {
        var select_action = $("select[name='action']")
        if(!select_action.val()){
            alert("No options are selected!")
            return false
        }
        var theCheckedBoxes = $("input[tagForSelect]").filter(":checked")
        if(theCheckedBoxes.length == 0) {
            alert("No checkboxesare selected!")
            return false
        }

        submitIds = []
        $.each(theCheckedBoxes, function (index, ele) {
            submitIds.push($(ele).val())
        })

        var inputWithIds = "<input type='hidden' name='selected_ids' value="+JSON.stringify(submitIds)+">"
        $(formEle).append(inputWithIds)
    }
</script>
{% endblock %}
