{% extends "kingAdminIndex.html" %}
{% load myTags %}


{% block rightPart %}
<h2 class="page-header">{% get_modelName configTableClass %}</h2>
<h4 class="page-header">删除{% for theRow in theRowSet %} {{ theRow }}{% endfor %}</h4>
    {% for theRow in theRowSet %}
        {% display_all_related_rows theRow as allRelatedDoms %}
        {{ allRelatedDoms | safe }}
    {% endfor %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="delete_confirm" value="yes">
    <input type="hidden" name="selected_ids" value="{{ request.POST.selected_ids }}">
    <input type="hidden" name="action" value="{{ request.POST.action }}">
    <input type="submit" value="删除" class="btn btn-danger">
</form>
{% endblock %}