{% extends 'kingAdminIndex.html' %}
{% load myTags %}


{% block rightPart %}
    {% if configTableClass.list_filter %}
     <form>
        {% for filter_column in configTableClass.list_filter %}
            {% displayFilter filter_column configTableClass filter_conditions %}
        {% endfor %}
            <input type="submit" value="过滤">
    </form>
    {% endif %}
    <table class="table table-striped">
        <thead>
            {% for item in configTableClass.list_display %}
            <th style="padding-right:40px">{{ item }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in rows%}
            {% displayTheRow row configTableClass.list_display %}
            {% endfor %}
        </tbody>

    </table>
{% endblock %}